.menu{
  width: 100%;
  margin: 0px;
  padding: 11px;
  border: 1px solid;
  background-color: #2B2E35;
  box-sizing: border-box;
  

}

.link{
  color: rgb(255, 255, 255);
}
.link:hover {

  color: blue;
}
.link:active {
  
  color: red;
}

body{
  margin: 0px;
  background-color: #4E4F59;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.contenedor{
  width: 100%;
  height: 820px;
  margin: 0px;
  background: url("https://scontent.feoh1-1.fna.fbcdn.net/v/t39.30808-6/492085508_1160616045814636_3779872382060324857_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGsIew5V5_kNRdh00SbITlQS9YNi4mh33JL1g2LiaHfcp_yke_ANyXjlzuUDMeThGIqOLxodVVz77-tQGvU-O-t&_nc_ohc=1T61BFyvRKgQ7kNvwH18cDB&_nc_oc=AdnIZ57a9CV9AOxDrSYE92T_rCbFQceShQRfrqDFCQG9VOu4_CNQKyi_M6zkBOmyjx0&_nc_zt=23&_nc_ht=scontent.feoh1-1.fna&_nc_gid=Babr78exJys6RWgYiNjTEA&oh=00_Afh_x6aqV1srPzsr8ZlFGVCBxyFu2mDPd0HGt7YwcDI8Dg&oe=692FE564") top / cover fixed violet;
  box-sizing: border-box;

}

.titulo{
  color: #c0f0c0;
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-style: italic ;
  font-size: 40px;

}

.descripcion{
  color: white;
  margin: 10px;
  font-size: 25px;
  font-style: blod;
  margin-top: 20px;
}


.subtitulo{
  margin: 0px;
  padding: 20px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.subb{
  margin: 10px;
  color: #c0f0c0;
  font-size: 32px;
  margin-top: 150px;

}

.box{
  width: 100%;
  height: 700px;
  margin: 0;
  color: rgb(255, 255, 255);
  background: linear-gradient(#000a, transparent);
  box-sizing: border-box;

}

.descripcion2{
  color: rgb(207, 198, 198);
  margin: 10px;
  font-size: 25px;
  margin-top: 20px
}

.lista{
  margin-bottom: 30px;
}
